WEB_PORT=3001


DB_HOST=127.0.0.1
DB_USER=
DB_PASS=
DB_NAME=

JWT_SECRET=dkjsfklsUGLJ677sjfs

LINE_PAY_CHANNEL_ID=2004695820
LINE_PAY_CHANNEL_SECRET=cf964e590f557dc6261adbd535ace4a7

REACT_REDIRECT_CONFIRM_URL=http://localhost:3000/member/course-records
REACT_REDIRECT_CANCEL_URL=http://localhost:3000/line-pay-fail

7-11運送商店用，最後導向前台的跳出視窗接收頁網址路由
SHIP_711_STORE_CALLBACK_URL=http://localhost:3000/ship/callback

SMTP_TO_EMAIL=fitsu879@gmail.com
SMTP_TO_PASSWORD=yfxxmxgktuwbhwbn