.site-btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* cursor: pointer; */
  transition: background-color 0.5s;
  border-radius: 50px;
  margin: 0 20px;
  background-color: #000000;
}

.site-btn:hover {
  color: #000000;
  background-color: #EB6234;
}
.accordion-btn{
  color: #000000;
  background-color: #E6E6E6;
  border-radius: 50px;
  border: none;
}