$primary-color: #EB6234;
$secondary-color: #ED7C15;
$third-color: #FF965A;
$heading-color: #111111;
$gray-color: #E6E6E6; 
$gray-deep-color: #cccccc;
$support-color: #F3F2EE;

//字體
$fm-Francois: 'Francois One', sans-serif;
$fm-Taipei: 'Taipei Sans TC Regular', sans-serif;
