$secondary-color: #ed7c15;
$black: #000000;
$black2: #2e2e2e;
$gray: #f1f1f1;
$white: #ffffff;
@import 'variable';

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

.banner {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
  }
}
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.hide {
  // display: none;
  left: -100%;
  // transition: left .5s ease-in-out;
  // opacity: 0.5;
  z-index: -1;
}
.category-nav {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: #f3f2ee;
  padding-top: 20px;
  .categories {
    display: flex;
    width: 60%;
    height: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    a {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
      color: #000000;
      width: 100px;
      text-align: center;
      & :active {
        color: $secondary-color;
      }
      &:visited {
        color: $black;
      }
      &:hover {
        color: $secondary-color;
      }
      transition: all 0.2s ease-in;
    }
  }
  .more-btn {
    background-color: $secondary-color;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 90%;
  }
}
.category-intro {
  background-color: $gray;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 5%;
  width: 100%;
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .select-container {
    max-width: 280px;
    width: 280px;
    min-width: 180px;
    select {
      width: 100%;
    }
  }
  .select-bar {
    width: 280px;
    height: 50px;
    background-color: $secondary-color;
    border-radius: 50px;
    line-height: 50px;
    padding: 0 30px 0 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      line-height: 50px;
      font-weight: 700;
      margin: 0;
    }
    i {
      line-height: 50px;
    }
  }
}
.classes {
  overflow: hidden;
  width: 100%;
  .class {
    display: flex;
    height: 600px;
    // flex-wrap: wrap;

    .img-box {
      width: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      img {
        object-fit: cover;
      }
    }
    .class-content {
      background-color: $black2;
      display: flex;
      flex-direction: column;
      padding: 70px 50px;
      width: 45%;
      min-width: 320px;
      .class-content-box {
        margin: auto;

        .class-name {
          font-size: 32px;
          margin-bottom: 20px;
          font-weight: 700;
          color: white;
        }
        .class-info {
          margin-bottom: 20px;
          line-height: 28px;
          letter-spacing: 0.5px;
          color: white;

          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; //多行在这里修改数字即可
          overflow: hidden;
          -webkit-box-orient: vertical;
        }
        .learn-more {
          width: 90px;
          height: 90px;
          background-color: $secondary-color;
          line-height: 90px;
          text-align: center;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            font-size: x-large;
          }
        }
      }
    }
    @include pad {
      display: flex;
      flex-direction: column;
      .img-box {
        height: 40%;
        width: 100%;
      }
      .class-content {
        height: 60%;
        width: 100%;
        .class-content-box {

        }
      }
    }
  }
  .class:nth-child(even) {
    flex-direction: row-reverse;
    @include pad {
      display: flex;
      flex-direction: column;
    }
    .class-content {
      background-color: $gray;
      .class-content-box {
        .class-info,
        .class-name {
          color: $black;
        }
      }
    }
  }
}
