@import 'variable';

.overlay {
  z-index: 1;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
.card {
  width: 800px;
  max-width: 90vw;
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 2;
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
    font-size: x-large;
    color: white;
    &:hover {
      color: $primary-color;
    }
  }
  .img-box {
    height: fit-content;
    max-height: 260px;
    width: 100%;
    overflow: hidden;
    min-width: 400px;
    position: relative;
    .img-cover {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7457107843137255) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      // background-color: rgba(0, 0, 0, .3);
      position: absolute;
    }
  }
  .content {
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0 30px 0px 30px;
    overflow-y: auto;
    .class-name {
      text-align: left;
      height: 40%;
      h1 {
        font-size: 40px;
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      height: 60%;
      flex-wrap: wrap;
      .date,
      .teacher,
      .place {
        min-width: 180px;
        width: 33%;
        display: flex;
        align-items: center;
        margin-top: 20px;
        .text {
          margin-left: 15px;
          span {
            font-weight: 600;
          }
        }
      }
      .date {
        .date-thumbnail {
          width: 50px;
          height: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          border-radius: 20%;
          .week-day {
            font-size: small;
            color: red;
            font-weight: 700;
            width: 100%;
            display: flex;
            justify-content: center;
            span {
              width: 70%;
              position: relative;
              top: 5px;
              text-align: center;
              border-bottom: 2px solid rgb(221, 221, 221);
            }
          }

          .day-number {
            font-size: x-large;
            font-weight: 700;
            // height: 27px;
          }
        }
      }
      .teacher {
        display: flex;
        .avatar {
          height: 50px;
          width: 50px;
          background-color: brown;
          border-radius: 50px;
          overflow: hidden;
        }
      }
      .place {
        .place-img {
          height: 50px;
          width: 50px;
          min-width: 50px;
          background-color: burlywood;
          border-radius: 20%;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
  .bottom {
    height: 75px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -1px 7px 0px rgba(202, 202, 202, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    .participant-count{
      
    }
    .button {
      cursor: pointer;
      height: 40px;
      width: 150px;
      border-radius: 100px;
      // margin-right: 40px;
      text-align: center;
      line-height: 40px;
      font-weight: 600;
      background-color: black;
      color: white;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
.show-overlay {
  opacity: 1;
  display: unset;
  pointer-events: unset;
}
.show-card {
  top: 50%;
}
