@import 'variable';

%class-box-shared {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 205px;
  height: 200px;
  cursor: pointer;
  transition: all 0.3s;
}

.background-col {
  padding: 0px;
  width: 205px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  .background-box {
    @extend %class-box-shared;
    border-top: 1px dashed rgb(72, 72, 72);
    border-left: 1px dashed rgb(72, 72, 72);
  }
}

.week-day {
  padding: 0px;
  width: 205px;
  position: relative;
  .class-box {
    @extend %class-box-shared;
    .class-box-top {
      font-weight: 700;
      font-size: larger;
    }
    &::after {
      content: '';
      border: 5px solid black;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.5s;
      border-radius: 30px;
    }

    &:hover::after {
      border-radius: 0px;
      background-color: $third-color;
      z-index: -1;
      opacity: 1;
    }
    &:hover {
    }
  }
  .disabled-class-box {
    @extend %class-box-shared;
    border-top: 1px dashed rgb(72, 72, 72);
    border-left: 1px dashed rgb(72, 72, 72);
    background-color: #b8b8b8;
    .class-box-top {
      font-weight: 700;
      font-size: larger;
    }


    &:hover::after {
      border-radius: 0px;
      background-color: $third-color;
      z-index: -1;
      opacity: 1;
    }
  }

 
  .type-a {
    background-color: #3d85c6;
    color: white;
  }

  .type-b {
    background-color: #93c47d;
  }
}
