%schedule-width {
  width: 1435px;
}

.all-element {
  list-style: none;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}
.force-black {
  background-color: black;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-button {
    // background: transparent;
    // border-radius: 100px;
  }
  &::-webkit-scrollbar-track-piece {
    // background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    // border: 1px solid slategrey;
  }
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
}


.schedule-section {
  transition: width 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
  // margin-bottom: 100px;
  position: absolute;
  // display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: unset;
  left: 100%;
  transition: left 0.5s ease-in-out;
  .schedule-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    background-color: #f1f1f1;

    .text {
      margin-bottom: 50px;

      .filter-title {
        font-weight: 700;
      }
    }

    .filter {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      .select-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 70%;
        .filter-city,
        .filter-store {
          width: 400px;
          // max-width: 400px;
          min-width: 200px;
          height: 60px;
          background-color: #2e2e2e;
          border-radius: 100px;
          color: white;
          line-height: 60px;
          font-weight: 700;
          padding: 0 40px;
          margin: 10px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .search {
        height: 50px;
        min-width: 50px;
        text-align: center;
        border-radius: 50%;
        background-color: #ed7c15;
        line-height: 50px;
        color: black;
        transition: all 0.2s;

        &:hover {
          background-color: white;
        }
      }
    }
  }

  .second-filter {
    height: 80px;
    min-height: 80px;
    width: 100%;
    margin-top: 2px;
    background-color: #f1f1f1;
    .select-group {
      position: relative;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: flex;
      height: 100%;
      width: 80%;
      max-width: 900px;
      div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 300px;
        span {
          font-weight: 700;
          height: 25px;
          margin-right: 20px;
        }
      }
      .class-name,
      .class-teacher {
        position: relative;
        span {
          &::before {
            content: '';
            position: absolute;
            top: 30px;
            left: 0px;
            height: 20px;
            width: 1px;
            background-color: #a3a3a3;
          }
        }
      }
    }
  }

  .schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .list-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      width: 100%;
      max-width: 1435px;
      overflow-x: auto;
      background-color: white;
      height: 120px;
      line-height: 110px;
      position: sticky;
      top: 0;
      .next-week,
      .last-week {
        width: 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-weight: 800;
        }
      }

      .list-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-weight: 600;
        }
      }
    }

    .class-type-group {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 47px;
      width: 100%;
      max-width: 1435px;
      background-color: #2e2e2e;
      margin: auto;
      position: sticky;
      top: 120px;

      .class-type {
        margin: 0 20px;

        span {
          color: white;
          font-weight: 700;
        }
      }

      .class-type-a {
        color: #3d85c6;
      }

      .class-type-b {
        color: #93c47d;
      }
    }

    .one-week {
      cursor: grab;
      width: 100%;
      margin: auto;
      padding: 0;
      overflow-x: auto;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      position: sticky;
      top: 167px;
      .week-ul {
        @extend %schedule-width;
        margin: auto;
        border-bottom: 1px solid #2e2e2e;
        display: flex;
        position: sticky;
        top: 0;
        .week-li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 205px;
          height: 80px;
          background-color: white;

          // border-left: 1px dashed orange;
          // border-top: 1px dashed orange;
          // border-bottom: 1px dashed orange;
          .date {
            font-size: larger;
            font-weight: 700;
          }
        }

        .weekend-li {
          background-color: #ed7c15;
        }
      }
    }

    .every-day-chart {
      width: 100%;
      margin: auto;
      padding: 0;
      overflow-x: auto;
      display: flex;
      justify-content: flex-start;

      .class-box-list {
        display: flex;
        padding: 0px;
        flex-direction: row;
        @extend %schedule-width;
        margin: auto;
        border-bottom: 5px solid #2e2e2e;
        border-right: 1px dashed rgb(72, 72, 72);

        .week-day {
          padding: 0px;

          .class-box {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 205px;
            height: 200px;
            border-top: 1px dashed rgb(72, 72, 72);
            border-left: 1px dashed rgb(72, 72, 72);

            .class-box-top {
              font-weight: 700;
              font-size: larger;
            }
          }

          .type-a {
            background-color: #3d85c6;
            color: white;
          }

          .type-b {
            background-color: #93c47d;
          }
        }
      }
    }
  }
}

.show {
  display: flex;
  left: 0%;
  height: unset;
}
.hide {
  // height: 0;
  // width: 0;
  left: 100%;
  overflow: hidden;
  // transition: width 0.1s ease-in-out;
  // transition: height 0.1s ease-in-out;
}
