// 檔案位置: styles/global.scss
// 變數覆蓋用 (Variable overrides)
// 全站配色 colors
$primary: #894505;
$secondary: rgba(44, 226, 31, 0.5);
$success: #7eb4e6;
$danger: #ff4136;
$primary-color: #EB6234;
$secondary-color: #ED7C15;
$third-color: #FF965A;
$heading-color: #111111;
$gray-color: #E6E6E6; 
$gray-deep-color: #cccccc;
$support-color: #F3F2EE; 

// 按鈕圓角邊 button radius
$border-radius: 0em;
$border-radius-sm: 0.2em;
$border-radius-lg: 0.2em;

$dropdown-border-radius:50px;


// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 導入所有 bootstrap 樣式
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

/* Register- Select 註冊頁面 */
.form-select {
  border-radius: 10px;
}
.form-control{
  border-radius: 10px;
}

/* Toggle Switch 客製樣式 */
.form-switch .form-check-input {
  width: 2.8em;
  height: 1.5em;

  &:checked {
    background-color: #EB6234;
    border-color: #EB6234;
  }
}

/* Order- Accordion 訂單頁面 */

.accordion-button {
  font-family: 微軟正黑體;
  font-weight: bold;
}
.accordion-button:not(.collapsed){
  font-family: 微軟正黑體;
  font-weight: bold;
  background-color: $primary-color;
  color: white;
}


// google Noto Sans TC 字體
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';

// 定義中文字體用
body {
  font-family: 'Noto Sans TC Regular', Helvetica, Arial, 'PingFang TC',
    '苹方-繁', 'Heiti TC', '黑體-繁', 'Microsoft JhengHei', '微軟正黑體',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    'Segoe UI',
    // Android
    Roboto,
    // Basic web fallback
    'Helvetica Neue',
    Arial,
    // Linux
    'Noto Sans',
    'Liberation Sans',
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
}
a{
  text-decoration: none;
}