@import 'variable.scss';

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  .icon {
    font-size: 200px;
    color: $primary-color;
    animation-name: icon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    filter: drop-shadow(5px 5px 4px #000000);
  }
  .text{
    position: relative;
    top: -40px;
    left: 10px;
    font-weight: 600;
    font-size: 50px;
    color: white;
    filter: drop-shadow(5px 5px 3px #464646);
  }
}
@keyframes icon {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
