@import "variable.scss";


.member-center-container{
    background-color:$gray-color;
    padding: 50px 0px;
    display:flex;
    padding: 0px 0px 0px 160px;
    font-family: 微軟正黑體;
    font-weight: bold;
}
.m-sidebar{
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:$gray-color;
  margin: 45px 0px 0px 0px;
  .m-container{
    display: flex;
    flex-direction: column;
    .nav-side{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      width: 100%;
      .Nav-link{
        margin: 0px;
        color:black;
        padding:0px;
        margin-bottom: 15px;
        padding-left: 5px;
        &:hover{
          font-size: 20px;
          border-left: 3px solid $primary-color;
          color:$primary-color
        }
      }
    }
  } 
}

.logout-Nav-link{
  margin: 0px;
  color:red;
  padding:0px;
  margin-bottom: 15px;
  padding-left: 5px;
  &:hover{
    font-size: 20px;
    border-left: 3px solid red;
    color:red
  }
}

.text-h4 {
  font-size: 24px;
    width: 100%;
    margin: 0px 0px 20px 0px;
    border-bottom: 2px solid $primary-color;
    color:black;
}  

.menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.m-sidebar.small-screen {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.m-sidebar.small-screen .m-container {
  padding-top: 60px;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

// RWD


