@import "variable";


/*---------------------
  Product Detail
-----------------------*/
.product-detail-container {
  padding-left: 50px;
}

.product-info a {
    text-decoration: none;
  }

  
  .product-detail {
    text-align: center;
    background: #E6E6E6;
    padding: 40px 0 60px;
    margin-bottom: 100px;
  }
  
  .tab-content {
    border: none;
  }
  
  .product-detail-breadcrumb {
    margin-bottom: 30px;
  }
  
  .product-detail-breadcrumb a {
    font-size: 15px;
    color: #111111;
    margin-right: 18px;
    display: inline-block;
    position: relative;
  }
  
  .product-detail-breadcrumb a:after {
    position: absolute;
    right: -14px;
    top: 0;
    content: "＞";
  }
  
  .product-detail-breadcrumb span {
    font-size: 15px;
    color: $primary-color;
    display: inline-block;
  }
  

  .product-detail-text {
    text-align: center;
  }
  
  .product-detail-text h2 {
    color: #0d0d0d;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 2px;
  }

  .product-detail-text h4 {
    color: #111111;
    font-weight: 700;
    margin-bottom: 10px;
  }

  
  .product-detail-text h4 span {
    color: #b7b7b7;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: line-through;
  }
  
  .product-detail-text p {
    margin-bottom: 35px;
  }
  
  .product-detail-option {
    margin: 30px auto;
  }
  

  .choose-spec {
    li{
      list-style: none;
      border: 1px solid $gray-deep-color;
      border-radius: 5px;
      margin: 8px 10px;
      width: 50px;
      height: 40px;
      background-color: #ffffff;
      text-align: center;
      line-height: 40px;

      &:hover {
        color: $primary-color;
        border: 1px solid #000000;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .quantity-item {
    width: 150px;

    .quantity {
      display: flex; /* 设置为 Flex 容器 */
      flex-direction: row; /* 设置为行 */
      justify-content: center; /* 水平居中对齐 */
      align-items: center; /* 水平居中对齐 */
      width: 100px;
      margin: auto 15px;
    }

    .qt-input {
      height: 32px;
      width: 40px;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      text-align: center;
      color: $primary-color;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
  }

    .qt-plus, .qt-minus {
      width: 68px;
      height: 28px;
      background: $gray-color;
      border: 0.5px solid $gray-color;
      border-radius: 50%;
      padding: 1px 5px;
      margin: 0 5px;
      -webkit-transition: background .2s linear;
      -moz-transition: background .2s linear;
      -ms-transition: background .2s linear;
      -o-transition: background .2s linear;
      transition: background .2s linear;
  }
  
  .qt-plus:hover, .qt-minus:hover {
    background: none;
    color: $primary-color;
    border: 0.5px solid $primary-color;
    cursor: pointer;
  }
}
  
.primary-checkout-btn {
  width: 70%;
  height: auto;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 50px;
  padding: 8px 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: #ffffff;
    }
}

.add-to-cart-btn {
  width: 70%;
  height: auto;
  text-align: center;
  border: 1px solid #111111;
  border-radius: 50px;
  padding: 8px 10px;
  background-color: transparent;
  color: #111111;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: #ffffff;
    }
}

  .product-details-btn-option {
    margin: 25px auto;
    font-size: 14px;
    a {
      display: inline-block;
      font-size: 14px;
      color: #111111;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .product-details-stock-cate ul {
    padding-top: 40px;
    text-align: end;
    
    li {
      list-style: none;
      font-size: 15px;
      color: #111111;
      line-height: 30px;
      font-weight: 700;
      }
    }

/*---------------------
  Related
-----------------------*/
.related {
  padding-bottom: 55px;
}

.related-title {
  color: #111111;
  font-weight: 700;
  margin-bottom: 45px;
  text-align: center;
}

/* 商品卡片 hover 效果  */
.product-item {
  margin-bottom: 15px;
  position: relative;

  li {
    list-style: none;
  }

  &:hover .product-item-title p {
    color: $primary-color;
  }

  &:hover .fav-button, &:hover .add-cart-button{
    opacity: 1;
    transition: all .4s;
    &:hover {
      background-color: $primary-color;
    }
  }
}

.fav-button {
    width: 40px;
    height: 40px;
    background-color: #000000;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0 8px 24px hsla(0,0%, 0%, .15);
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all .3s;
    }

  .add-cart-button {
    width: 40px;
    height: 40px;
    background-color: #000000;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0 8px 24px hsla(0,0%, 0%, .15);
    opacity: 0;
    position: absolute;
    top: 68px;
    right: 15px;
    transition: all .3s;
    }

.product-item-text {
  margin-top: 20px;

  span {
    font-size: 15px;
    font-weight: 600;

  }
}

.product-item-title p {
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
  &:hover {
    color: $primary-color;
  }
}

.related-product-item-pic .product-hover li a:hover {
  color: #ffffff;
}


/*# sourceMappingURL=myproducts.css.map */