@import "variable";


/*---------------------
  Product Category
-----------------------*/

.shop-sidebar-accordion {
    ul, li {
      list-style: none;
    }
}

  .hide{
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .accordion{
    width: auto;
    border: 1px solid $gray-deep-color;
  }
  
  .accordion-item{
    color: #ffffff;
    position: relative;
    width: 100%;
    border-bottom: 1px solid $gray-deep-color;
    
    &:last-child{
      border-bottom: none;
    }
  
  }
  
  .accordion-label{
    background: #000000;
    color: #ffffff;
    padding: 20px 0 20px 30px;
    width: 100%;
    display: block;
    font-size: 18px;
    
    &:hover{
      cursor: pointer;
    }
  
    &:before{
      content: '';
      position: absolute;
      height: 5px;
      width: 5px;
      top: 22px;
      left: 12px;
      display: inline-block;
      border-left: 5px solid #999;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  
    input[type=checkbox]:checked ~ &:before{
      transform: rotate(90deg);
    }
  }
  
  .accordion-child{
    color: #000000;
    list-style: none;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    height: 0;
    transform: scale(1,0);
    transform-origin: center top;
    
    input[type=checkbox]:checked ~ &{
  
      border: 1px solid $gray-deep-color;
      margin: 0 -20px 15px -20px;
      background: #fff;
      box-shadow: 0 3px 6px 1px rgba(0,0,0,0.16);
      padding: 30px;
      
      height: auto;
      opacity: 1;
      transform: scale(1,1);
      
    }
  }

  .main-cate {
    background-color: $primary-color; 
    color: #ffffff; 
    width: 100%;
    padding: 8px 5px;
    margin: 5px auto;
    a {
      color: #ffffff;
    }
  }

.sc-original {
    font-size: 13px;
    line-height: 16px;
    color: $heading-color;
    margin-bottom: 15px;
  }

.sc-dash {
    font-weight: 500;
}

.sc-bdy {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;

    p.sc-text {
      font-weight: 600;
        margin-bottom: 5px;
        margin-right: 8px;
      }
    
    input.sc-input {
        padding-left: 8px;
    }
  }

.sc-btn-filter .sc-btn {
    margin: 15px auto 10px 30px;
    border: 1px solid $primary-color;
    width: 150px;
    height: 38px;
    padding: 5px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 15px;
    background-color: $primary-color;
    &:hover {
        color: $primary-color;
        background-color: #ffffff;
        border: 1px solid $primary-color;
        transition: all 0.3s;
    }
}

.shop-product-option-left {

  margin-left: 0px;

  p {
    font-size: 15px;
    font-weight: 600;
  }
}

.shop-product-option {
  margin-top: 20px;
  margin-left: 40px;
}

.shop-product-option-right-sort {

  justify-content: end;


  select {
    border: none;
    padding: 3px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.shop-product-option-right-qty {

  justify-content: start;

  select {
    border: none;
    padding: 3px;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.shop-product-display {
    padding: 0 60px;
}

.product-item-pic {
  img {
    &:hover {
      filter: brightness(0.9);
      transition: all 0.4s ease-in-out 0s;
    }
  }
}

.product-item-pic li {
  list-style: none;
  color: $primary-color;
  text-align: center;
  padding: 0;
}

/* 商品卡片 hover 效果  */
.product-item {
  margin-bottom: 15px;
  position: relative;

  li {
    list-style: none;
  }

  &:hover .product-item-title p {
    color: $primary-color;
  }

  &:hover .fav-button, &:hover .add-cart-button{
    opacity: 1;
    transition: all .4s;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.fav-button {
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0 8px 24px hsla(0,0%, 0%, .15);
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all .3s;
    }

  .add-cart-button {
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0 8px 24px hsla(0,0%, 0%, .15);
    opacity: 0;
    position: absolute;
    top: 68px;
    right: 15px;
    transition: all .3s;
    }

.product-item-text {
  margin-top: 20px;

  span {
    font-size: 18px;
    font-weight: 600;

  }
}

.product-item-title p {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
  &:hover {
    color: $primary-color;
  }
}