@import "variable";



.btn{
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 50px;
  display: block;
  padding: 5px;
  text-align: center;
  
  &:hover{
    background-color:$secondary-color;
    color:white;
    border-radius: 50px;
  }
}


.profile-section{
   margin: 0px 100px;
  padding: 20px 0px;
  width:100%;
  .title{
    padding: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    display:flex;
    &::before{
      background-color: rgb(7, 7, 9);
      border-radius: 40% / 10%;
      content: "";
      margin: 2px 7px 2px 0px;
      width: 3px;
    }
  }
}

.profile-upload-self-col{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.self-pic{
  display: flex;
  flex-direction: column;
  align-items: center;
   margin-top: 20px;
    .profile-img{
      border: 3px solid $secondary-color;
      border-radius: 20%;
      }
}

.profile-img{
  border-radius: 50%;
}

.upload-text{
  border: none;
  background-color: white;
  color: black;
  padding-top: 5px;
  font-family: 微軟正黑體;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  &:hover{
    color:$primary-color
  }
    }

.profile-first-row{
  padding: 20px 0px;
}
.profile-first-row, 
.profile{
  background-color: white;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .profile-col{
  width: 100%;
    .profile-row{
    width: 100%;
    display: flex;
    }
  }
} 
.profile-first-col{
  display: flex;
  margin: auto;
}

.member-describe{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .member-fit{
    padding-top: 15px;
    font-size: 14px;
  }
}

.member-date{
  color:red;
  .member-card-box{
    display: flex;
    align-items: center;
    justify-content: center;
  
  .member-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  }
}



.label-name{
  width:100%;
  .label-text{
    display: flex;
    align-items: center;
    padding-right: 27px;
    .icon-padding{
      padding-right:5px;
      color: $primary-color;
    }
  }
}
.row-btn{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: black;
  color:white;
  border: none;
  font-family: 微軟正黑體;
  font-weight: bold;
  padding: 5px 30px;
    &:hover{
    background-color: $secondary-color;
    color:white;
  }
}



// RWD